.FAQContent{
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 304px;
}
.FAQ-title{
    font-size: 32px;
    line-height: 63px;
    font-weight: bold;
    padding-bottom: 36px;
}
.question{
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
}
.answer{
    margin-left: 95px;
}